@model MonitoringConfigurator.Models.Product
<a href="#" class="position-absolute top-0 end-0 m-2 btn btn-sm btn-dark opacity-75" 
   data-show-desc data-name="@Model.Name" data-desc="@Model.Description" title="Szczegóły opisu">
  <i class="bi bi-info-circle"></i>
</a>
