
@model MonitoringConfigurator.Models.Product
@{
    ViewData["Title"] = "Nowy produkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mb-3">Dodaj produkt</h2>
@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ProductForm", Model)
}
