
@model MonitoringConfigurator.Models.Product
@{
    ViewData["Title"] = "Edycja produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mb-3">Edytuj produkt</h2>
@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @id = "editForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.Partial("_ProductForm", Model)
}
